
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    /* background: linear-gradient(82.78deg, #FFFFFF -1.19%, #E6D4BF 97.76%, rgba(255, 255, 255, 0) 103.18%); */

}
.banner{
    /* background: linear-gradient(82.78deg, #FFFFFF -1.19%, #E6D4BF 97.76%, rgba(255, 255, 255, 0) 103.18%); */
    background: linear-gradient(42.52deg, #FFFFFF 44.03%, #E6D4BF 68.69%, #E5D4BF 96.99%);
    height: 100vh;
}
h2{
    font-family: 'Libre Baskerville', serif;

}
p{
    font-family: 'Ubuntu', sans-serif;

}
.bannercontent{
    padding: 12% 10%;
}
.bannercontent h2{
    color: #035715;
    font-size: 3.5rem;
    font-weight: 550;
    width: 80%;
    margin-left: 80px;
    font-family: 'Libre Baskerville', serif;

}
.bannercontent p{
    font-size: 1.5rem;
    font-weight: 400;
    width: 65%;
    margin-left: 80px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(63, 60, 60);
    /* margin: auto 10px; */
}
.bannercontent button{
    margin-left: 80px;

}
.table{
    /* width: 800px !important; */
    position: relative;
    /* left: -10%; */
    top: -8%;
    z-index: 800;
}
.pot{
    z-index: 999;
    position: relative;
    right: -10%;
    bottom: -5%;
    font-family: 'Roboto', sans-serif;
}

/* ===============About======================================= */
.about-content{
    padding: 50px 10px 0px 20px;
}
.about-video{
    padding: 10px;
}
.about-content h2{
font-size: 2.5rem;
}
.about-content p{
    font-size: 1.2rem;
    width: 80%;
}

/*================ Product Speciality =============================*/
.product-feature{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.each{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.each h2{
    font-size: 1.5rem;
    font-family: 'Shippori Antique', sans-serif;
    font-weight: 600;
}
.icons{
    width: 54px;
    height: 54px;
    margin-bottom: 20px;
}
.feature-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.feature-content h2{
    font-size: 2.5rem;
    font-family: 'Shippori Antique', sans-serif;
    font-weight: 600;  
    width: 70%;
    align-content: flex-start;
}